<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pixel War 24h</title>
</head>
<body>
    <h1>Place a pixel!</h1>
    <form method="post" action="/pixel">
        <input id="x_coord" name="x_coord" value="0">
        <input id="y_coord" name="y_coord" value="0">
        <div th:each="color:${colors}">
            <input name="color" type="radio" th:value="${color}">
            <div th:text="${color}"></div>
        </div>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
        <button type="submit">SUBMIT</button>
    </form>

</body>
</html>